.contact-form{
    background-color:white;
    box-shadow: -5px -5px 10px rgba(255, 255, 255,0.05),
     5px 5px 15px rgba(0, 0, 0,0.5);
}
.contact-form .form-control, .contact-form textarea{
    background-color: transparent;
    border: 1px solid #00AEEF;
    border-radius:0;
    outline: none;
}
.contact-form .form-control:focus, .contact-form textarea:focus{
    background-color: transparent;
}
.form-control:focus {
    box-shadow:none;
 }
 .form-control::placeholder{
     color: rgb(185, 185, 185);
 }
 .form-control[type="submit"]{
   background-color: #00AEEF;
   color: white;
   font-weight: 700;
 }
 .form-control[type="submit"]:active{
    box-shadow:inset -2px -2px 6px rgba(255,255,255,0.1),
    inset 2px 2px 6px rgba(0,0,0,0.8);
 }
 /* ------- footer ------ */
 .footer-content{
    border-top: 2px solid #191919;
 }